
<ng-include src="'/Views/App/Admin/_nav.html'"></ng-include>
<div id="screenlist">
    <h3>screens</h3>
        <ul>
            <li ng-repeat="s in screens"><a href="" ng-click="selectScreen(s)"> show {{s.name}}</a></li>
        </ul>
</div>

<div id="layoutContent">

    <div ng-show="s" class="col-md-6">
        <ng-include src="'/Views/App/Admin/_screen.html'"></ng-include>
    </div>
    <!---En screens layouter -->
    <div ng-show="screenLayouts">
        <h3>Layouter för {{s.name}}</h3>
        <ul class="item-list">
            <li class="layoutBox" ng-repeat="sl in screenLayouts">
                <p> {{sl.name}}</p>
                <a ng-click="selectLayout(sl)">
                    <div class="layout-thumb small-thumb">
                        <ng-include src="'/Views/App/Templates/' + sl.templateUrl + '.html'"></ng-include>
                    </div>
                   
                </a>
            </li>
        </ul>
    </div>

    <!--Alla layouter-->
    <div ng-show="layouts">
        <h3>Lägg till en ny layout till {{s.name}}</h3>
        <ul class="item-list">
            <li class="layoutBox" ng-repeat="l in layouts">
                <p>{{l.name}}</p>
                <a href="" ng-click="addLayout(l)">
                    <div class="layout-thumb small-thumb">
                        <ng-include src="'/Views/App/Templates/' + l.templateUrl + '.html'"></ng-include>
                    </div>
                  
                </a>
            </li>
        </ul>
    </div>
</div>