<div class="row">
    <div class="col-md-6">
        Top-left
        <div ng-include="'Views/Partials/diagram.html'"></div>
    </div>
    <div class="col-md-6">
        Top-right
        <div ng-include="'Views/Partials/diagram.html'"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        Bottom-left
        <div ng-include="'Views/Partials/diagram.html'"></div>
    </div>
    <div class="col-md-6">
        Bottom-right
        <div ng-include="'Views/Partials/diagram.html'"></div>
    </div>
</div>
