<h2>Create template</h2>
<p>
    First create a html-template and save it in Views/Templates, to make it accessable to pages save the template in the system using this form.
</p>
<div class="admin-message">

</div>
<form name="adminTemplateCtrl.newTemplateForm"
      class="new-template-form"
      ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
      ng-submit="adminTemplateCtrl.postTemplate(adminTemplateCtrl.newTemplate, adminTemplateCtrl.newTemplateForm)"
      novalidate>
    <div class="row">
        <label>Name</label><br />
        <input title="name" type="text" name="name" class="form-control" ng-model="adminTemplateCtrl.newTemplate.name" required />
    </div>

    <div class="row">
        <label>File name</label><br />
        <input title="timer" type="text" name="fileName" min=10000 class="form-control" ng-model="adminTemplateCtrl.newTemplate.fileName" required />
    </div>

    <div class="row">
        <label>Amount of content-areas</label><br />
        <input title="numberOfPartials" type="number" name="numberOfPartials" min="1" minlength="0" class="form-control" ng-model="adminTemplateCtrl.newTemplate.numberOfPartials" required />
    </div>

    <div class="row">
        <input type="submit" value="Create template" />
    </div>
    <div class="row">
        <div id="submit-template-loading" class="loading"></div>
    </div>
</form>
