<ng-include src="'/Views/App/Admin/_nav.html'"></ng-include>

<div class="row h100">

    <div class="col w25">
        <div class="create-template-list">
            <ul>
                <li ng-repeat="t in adminTemplateCtrl.templates">
                    <div>{{t.name}}</div>
                    <div class="template-thumb small-thumb">
                        <ng-include src="'/Views/App/Templates/' + t.fileName"></ng-include>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="col w75">
        <div class="screen-details">
            <ng-include src="'/Views/App/Admin/Template/_new_template.html'"></ng-include>
        </div>
    </div>
</div>

