<div class="row">
    <div class="col w50 middle">

        <div class="row">
            <div class="col w50">
                <h4>Screens</h4>
                <ul>
                    <li ng-repeat="s in screens">
                        <a href="/app/screen/{{s.id}}"> {{s.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="col w50">
                <h3>Admin</h3>
                <a href="/app/admin/screens/">Admin!</a>
            </div>
        </div>

    </div>
</div>