<h2>New Screen</h2>
<form name="newScreenForm"
      class="new-screen-form"
      ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
      ng-submit="newScreenForm.$valid && postScreen(newScreen)"
      novalidate>
    <div class="row">
        <label>
            Screen name<br/>
            <input title="name" type="text" name="screenName" class="form-control" ng-model="newScreen.name" required />
        </label>
    </div>
    <div class="row">
        <label>
             Minutes<br/>
            <input title="minutesTimer" type="number" min="0" max="15" name="timer" class="form-control" ng-model="newScreen.minutes" required />
        </label>
    </div>

    <div class="row">
        <label>
             Seconds<br/>
            <input title="secondsTimer" type="number" min="5" max="50" name="timer" class="form-control" ng-model="newScreen.seconds" required />
        </label>
    </div>

    <div>
        <input type="submit" class="btn btn-primary" value="Submit sceen" ng-click="newScreenForm.$setPristine()"></input>
    </div>
</form>