<ng-include src="'/Views/App/Admin/_nav.html'"></ng-include>
<div class="row h100">
    <div class="col w25 screen-list">
        <div>
            <div class="button block create-button" ng-click="createScreen()">New Screen</div>
        </div>
        <div>
            <div id="screen-list-loading" class="loading"></div>
            <ul>
                <li ng-repeat="s in screens" ng-click="selectScreen(s)">
                    <div>{{s.name}}</div>
                </li>
            </ul>
        </div>
    </div>

    <div class="col w75">
        <div class="admin-message"></div>

        <div class="screen-details" ng-show="screen">
            <ng-include src="'/Views/App/Admin/Screen/_screen.html'"></ng-include>
        </div>

        <div class="screen-details" ng-show="newScreen">
            <ng-include src="'/Views/App/Admin/Screen/_new_screen.html'"></ng-include>
        </div>

    </div>

</div>