<h3>New Layout</h3>
<form>
    <div class="row">
        <div class="col w25">
            <label>Name</label>
        </div>
        <div class="col w25">
            <input type="text" ng-model="newLayout.name" />
        </div>
    </div>
    <div class="row">
        <div class="col w25">
            <label>Template</label>
        </div>
        <div class="col w50">
            <ul style="list-style:none;">
                <li ng-repeat="t in templates">
                    <div ng-click="selectTemplate($event, t)" class="layout-thumb small-thumb">
                        <ng-include src="'/Views/App/Templates/' + t.fileName"></ng-include>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <button ng-click="saveLayout(newLayout)">Save</button>
    </div>
</form>