
<div class="row h100">
    <ng-include src="'/Views/App/Admin/_nav.html'"></ng-include>
    <div class="col w25">
        <div class="layout-list">
            <ul>
                <li ><div class="button block dark-green" ng-click="createLayout()">New Layout</div></li>
                <li ng-repeat="l in layouts" ng-click="selectLayout(l)">
                    <div>{{l.name}}</div>
                    <div class="layout-thumb small-thumb">
                        <ng-include src="'/Views/App/Templates/' + l.templateUrl + '.html'"></ng-include>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="col w75">

        <div class="layout-details" ng-show="layout">
            <ng-include src="'/Views/App/Admin/Layout/_layout.html'"></ng-include>
        </div>

        <div class="layout-details" ng-show="newLayout">
            <ng-include src="'/Views/App/Admin/Layout/_new_layout.html'"></ng-include>
        </div>

    </div>
</div>