/*
    Navigation
*/
#nav ul{
    width:100%;
    float:left;
    margin:0;
    padding:0;
    background-color:#c41f1f;
    font-weight:bold;
}
#nav ul li{
    display:block;
    float:left;
    margin:0;
    padding:0;
}

#nav ul li a{
    display:block;
    padding:1em 3em;
    text-decoration:none;
    color:#fff;
}

#nav ul li a:hover{
    text-decoration:underline;
}

/* Layout Admin */
.layout-list{
    overflow-y:scroll;
    cursor:pointer;
}
.layout-list ul{
    margin:0;
}

.layout-list li{
    display:block;
    padding:10px;
    text-align:center;
    background-color:#f6f6f6;
}
.layout-list li:nth-child(odd){
    background-color:#e6e6e6;
}
.layout-list li:hover{
    background-color:#fff;
}
.layout-thumb{
    display:inline-block;
    border:1px solid #000;
}

.layout-thumb.small-thumb{
    width:120px;
    height:90px;
}
.layout-thumb.big-thumb{
    width:360px;
    height:270px;
}

.layout-thumb .partial{
    outline:1px solid #000;
}

.layout-details{
    padding:20px;
    background-color:#f6fff6;
}