/*
    Navigation
*/
#nav{
    height:auto;
}
#nav ul{
    width:100%;
    float:left;
    margin:0;
    padding:0;
    background-color:#c41f1f;
    font-weight:bold;
}
#nav ul li{
    display:block;
    float:left;
    margin:0;
    padding:0;
}

#nav ul li a{
    display:block;
    padding:1em 3em;
    text-decoration:none;
    color:#fff;
}

#nav ul li a:hover{
    text-decoration:underline;
}

/* Layout Admin */

.screen-list,
.page-list,
.template-list{
    overflow-y:scroll;
    cursor:pointer;
}

.screen-list ul,
.page-list ul,
.template-list{
    margin:0;
}

.screen-list li,
.page-list li,
.template-list li{
    display:block;
    padding:10px;
    text-align:center;
    background-color:#f6f6f6;
}
.page-list li:nth-child(odd),
.screen-list li:nth-child(odd){
    background-color:#e6e6e6;
}
.page-list li:hover,
.screen-list li:hover{
    background-color:#fff;
}
.template-thumb{
    display:inline-block;
    border:1px solid #000;
}

.template-thumb.small-thumb{
    width:120px;
    height:90px;
}
.template-thumb.big-thumb{
    width:360px;
    height:270px;
}

.template-thumb .partial{
    outline:1px solid #000;
}

.page-details,
.screen-details{
    padding:20px;
    background-color:#f6fff6;
}

input[type="number"] {
    display: inline-block;
    padding: .25em .5em;
    font-size: 1em;
}

input.ng-invalid.ng-dirty {
    border-color: #FA787E
}

input.ng-valid.ng-dirty {
    border-color: #10bb10;
}