/*
    Elements
*/
html *{
    margin:0;
    padding:0;
}
body{
    font-family:"Open Sans", sans-serif;
    line-height:1.25em;
}

html, body{
    min-height:100%;
    max-height:100%;
    height:100%;
}

h1,h2,h3,h4,h5,h6{
    margin:.5em 0;
}
p{
    margin:1em 0;
}

.ng-scope{
    height:inherit;
}

/* 
    Classes
*/

.clear{
    clear:both;
}
.left{
    float:left;
}
.right {
    float: right;
}

/* Colors */
.red{background-color:#ee1010;}
.light-red{background-color:#ee4040;}
.dark-red{background-color:#bb1010;}

.green{background-color:#10ee10;}
.light-green{background-color:#40ee40;}
.dark-green{background-color:#10bb10;}

.blue{background-color:#1010ee;}
.light-blue{background-color:#4040ee;}
.dark-blue{background-color:#1010bb;}

.yellow{background-color:#eeee10;}
.light-yellow{background-color:#eeee40;}
.dark-yellow{background-color:#bbbb10;}

.purple{background-color:#ee10ee;}
.light-purple{background-color:#ee40ee;}
.dark-purple{background-color:#bb10bb;}

.teal{background-color:#10eeee;}
.light-teal{background-color:#40eeee;}
.dark-teal{background-color:#10bbbb;}

/*
    Forms
*/
label.block,
input[type="text"].block,
input[type="submit"].block,
button.block
.button.block{
    display:block;
}
label{
    display:inline-block;
}

input[type="text"]{
    display:inline-block;
    padding:.25em .5em;
    font-size:1em;
}

button,
input[type="submit"],
.button{
    padding:.5em 2em;
    border:1px solid #333;
}
button:hover,
input[type="submit"]:hover,
.button:hover{
}
form>.row{
    padding:5px 0;
}
/*
    Columns and rows for design
*/

.row{
    width:100%;
    float:left;
}
.row:before,
.row:after{
    clear:both;
    display: table;
    content: " ";
}

.row .col{
    float:left;
    height:100%;
}

.row .col.middle{
    float:none;
    margin:0 auto;
}

.row.h100{height:100%}
.row.h90{height:90%}
.row.h80{height:80%}
.row.h75{height:75%}
.row.h70{height:70%}
.row.h66{height:66.6667%}
.row.h60{height:60%}
.row.h50{height:50%}
.row.h40{height:40%}
.row.h33{height:33.3333%}
.row.h30{height:30%}
.row.h25{height:25%}
.row.h20{height:20%}
.row.h10{height:10%}
.row.h5{height:5%}

.row .col.w100{width:100%;}
.row .col.w90{width:90%;}
.row .col.w80{width:80%;}
.row .col.w75{width:75%;}
.row .col.w70{width:70%;}
.row .col.w66{width:66.6667%;}
.row .col.w60{width:60%;}
.row .col.w50{width:50%;}
.row .col.w40{width:40%;}
.row .col.w33{width:33.3333%;}
.row .col.w30{width:30%;}
.row .col.w25{width:25%;}
.row .col.w20{width:20%;}
.row .col.w10{width:10%;}
.row .col.w5{width:5%;}
.row .col.w2{width:2%;}

/*
    Partials
*/
.partial-container{
    padding:0 20px;
}

.partial-container .diagram-container{
    padding:10px 0;
}
