<div class="col-md-12" ng-controller="MainController as main">
    <h4>Hello home!</h4>
    <form name="myForm" ng-submit="getDiagramData(query)">
        Query: <input type="text" name="query" ng-model="query" required>
        <input type="submit" id="submit" value="Submit" />
    </form>
    <p>
        {{data}}
    </p>
    <p>
        <a href="/exempel">Route</a>
    </p>
    <angularchart dataset="main.dataset" schema="main.schema" options="main.options"></angularchart>
    <inventory-chart></inventory-chart>

    <google-chart></google-chart>
    
    <!--<div ng-controller="GoogleCtrl">
        <h1>{{header}}</h1>
        <div google-chart="ColumnChart" ng-model="data1"></div>

    </div>--->
</div>

