<div class="row h20">
    <div id="p1" class="partial col w100">
        <partial partial="partials[3]"></partial>
    </div>
</div>
<div class="row h60">
    <div id="p2" class="partial col w30">
        <partial partial="partials[1]"></partial>
    </div>
    <div id="p3" class="partial col w70">
        <partial partial="partials[2]"></partial>
    </div>
</div>
<div class="row h20">
    <div id="p4" class="partial col w100">
        <partial partial="partials[3]"></partial>
    </div>
</div>