<div ng-controller="AdminCreatePagesController">
    <!--<div class="page-details" ng-if="savedPage">
        <h3>The page was saved!</h3>
    </div>-->

    <h3>Ny Sida</h3>
    <form>

        <div class="row">
            <div class="col w10">
                <h4>Namn</h4>
            </div>
            <div class="col w25">
                <input type="text" ng-model="createdPage.Name" />
            </div>
        </div>

        <div class="row">
            <div class="col w100">
                <h4>Välj mall</h4>
                <ul class="template-list">
                    <li ng-repeat="t in templates">
                        <a href="" ng-click="selectTemplate($event, t)">
                            <p>{{t.name}}</p>
                            <div class="template-thumb small-thumb">
                                <div ng-include src="'/Views/App/Templates/' + t.fileName"></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div ng-show="createdPage.template" class="col w50">
                <h4>Klicka på en del i mallen för att redigera dess innehåll</h4>

                <!--ng-click="setCurrentPartialPos($event)"--> 
                <div data-my-position-finder ng-click="calculateParitalPos($event, setCurrentPartialPos)" class="template-thumb big-thumb">
                    <ng-include src="path" />
                </div>
            </div>
            <div class="col w50">
                {{createdPage.partials}}
                <div ng-if="currentPartialPos != 0">
                    <div class="row">
                        <div class="col w50">
                            <label>Innehållstyp</label>
                        </div>
                        <div class="col w50">
                            <select ng-model="createdPage.partials[currentPartialPos -1].partialType">
                                <option value="Text">Text</option>
                                <option value="Diagram">Diagram</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div ng-if="createdPage.partials[currentPartialPos -1].partialType == 'Text'">
                            <p>Enter a text</p>
                            <textarea ng-model="createdPage.partials[currentPartialPos -1].content" />
                        </div>

                        <div ng-if="createdPage.partials[currentPartialPos -1].partialType == 'Diagram'">
                            <label>Välj diagramtyp</label>
                            <select ng-model="createdPage.partials[currentPartialPos -1].diagramType">
                                <option value="WeeklyOrders">WeeklyOrders</option>
                                <option value="MonthlyOrders">MonthlyOrders</option>
                                <option value="QuarterlyOrders">QuarterlyOrders</option>
                                <option value="YearlyOrders">YearlyOrders</option>
                                <option value="WeeklyShipments">WeeklyShipments</option>
                                <option value="MontlyShipments">MontlyShipments</option>
                                <option value="QuarterlyShipments">QuarterlyShipments</option>
                                <option value="YearlyShipments">YearlyShipments</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <button ng-click="savePage()">Spara</button>
        </div>

    </form>
</div>