<div ng-controller ="AdminRemovePagesController" class="row">
    <div class="page-form">
        <div class="row">
            <button ng-click="removePage(page.id)">Ta bort sidan {{page.name}}</button>
        </div>
    </div>
</div>
<div ng-controller="AdminViewPageController">
    <div class="row">
        <div class="col w50">
            <h3>Mall: {{page.template.name}}</h3>
            <h4>Klicka på en del av mallen för att se vad den innehåller</h4>

            <div data-my-position-finder ng-click="calculateParitalPos($event, selectPartial)" class="template-thumb big-thumb">
                <ng-include src="templatePath" />
            </div>
        </div>
        <div class="col w50">
            <div ng-show="partial">
                <ng-include src="partialPath" />
            </div>
        </div>
    </div>
</div>