<ng-include src="'/Views/App/Admin/_nav.html'"></ng-include>
<div class="row h100">
    <div class="col w25 page-list">
        <div>
            <div class="button block create-button" ng-click="showCreate()">New Page</div>
        </div>
        <div>
            <div id="page-list-loading" class="loading"></div>
            <ul>
                <li ng-repeat="p in pages" ng-click="showPage(p)">
                    <div>{{p.name}}</div>
                    <div class="template-thumb small-thumb">
                        <ng-include src="'/Views/App/Templates/' + p.template.fileName"></ng-include>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="col w75">
        <div class="admin-message"></div>

        <div class="page-details" ng-show="page">
            <ng-include src="'/Views/App/Admin/Page/_page.html'"></ng-include>
        </div>
        
        <div class="page-details" ng-show="newPage">
            <ng-include src="'/Views/App/Admin/Page/_new_page.html'"></ng-include>
        </div>
    </div>
</div>
