<div class="row h100">
    <ng-include src="'/Views/App/Admin/_nav.html'"></ng-include>
    <div class="col w25">
        <div class="page-list">
            <ul>
                <li><div class="button block dark-green" ng-click="createPage()">New Page</div></li>
                <li ng-repeat="p in pages" ng-click="selectPage(p)">
                    <div>{{p.name}}</div>
                    <div class="template-thumb small-thumb">
                        <ng-include src="'/Views/App/Templates/' + p.template.fileName + '.html'"   ></ng-include>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="col w75">

        <div class="page-details" ng-show="page">
            <ng-include src="'/Views/App/Admin/Page/_page.html'"></ng-include>
        </div>

        <div class="page-details" ng-show="newPage">
            <ng-include src="'/Views/App/Admin/Page/_new_page.html'"></ng-include>
        </div>

    </div>
</div>